/* 確保地圖容器有高度 */
#map {
  height: 100%; /* 您可以根據需要調整高度 */
  width: 100%; /* 確保地圖容器佔滿父元素寬度 */
  border-radius: 0.75rem; /* 配合 Tailwind 的 rounded-xl */
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05); /* 配合 Tailwind 的 shadow-xl */
}

/* 調整地圖在小螢幕上的高度 */
@media (max-width: 768px) {
  #map {
    height: 100%;
  }
}
