.shop-hero {
  text-align: center;
  padding: 3rem 1rem 2rem 1rem;
  background: var(--color-background-main);
}

.shop-hero h1 {
  font-size: var(--font-size-title);
  font-weight: 700;
  color: var(--color-text-title-main);
  margin-bottom: 0.5rem;
  letter-spacing: 2px;
}

.shop-hero p {
  font-size: var(--font-size-text);
  color: var(--color-text);
  margin-top: 0;
}

.shop-products {
  background-color: var(--color-background-main);
  padding: 2rem 1.5rem 1.5rem 1.5rem;
}

.section-products-wrapper{
    max-width: 900px;
    margin: 0 auto;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
  gap: 2rem;
}

.product-card {
  background: var(--color-background-second);
  border-radius: 1.2rem;
  box-shadow: 0 2px 16px 0 rgba(224,122,95,0.13);
  padding: 1.5rem 1rem 1.5rem 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.15s;
}

.product-card:hover {
  transform: translateY(-4px) scale(1.03);
  box-shadow: 0 4px 16px 0 rgba(224,122,95,0.2);
}

.product-img {
  width: 100%;
  max-width: 120px;
  aspect-ratio: 1/1;
  object-fit: contain;
  border-radius: 0.8rem;
  margin-bottom: 1rem;
  background: #fffbe6;
  border: 1.5px solid #e07a5f22;
}

.product-card h3 {
  font-size: 1.1rem;
  color: #7d5a50;
  margin: 0.5rem 0 0.2rem 0;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.product-price {
  font-size: 1.1rem;
  color: #e07a5f;
  font-weight: 700;
  margin-bottom: 0.8rem;
}

.btn-chart {
  background: var(--color-btn-primary);
  color: var(--color-btn-primary-text);
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1.2rem;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.2s;
}

.btn-chart:hover {
  background: var(--color-btn-primary-hover)
}